* {
    padding: 0;
    margin: 0 auto;
}

#main-logo {
    height: 140px;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 110px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.footer-bar {
    display: flex;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.index-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}


.register-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.login-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.dashboard-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.user-profile-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.edit-profile-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.edit-profile-columns {
    display: flex;
    width: 40%;
    padding: 10px;
}

.edit-password-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.edit-password-done-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}



#user-buttons {
    margin-top: 10px;
}

.pw-requirements {
    font-size: 14px;
    padding: 10px;
}

.error-message {
    color: red;
    padding: 10px;
}

.register-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-label-and-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.form-label-and-field input {
    border-radius: 10px;
    padding: 7px;
}


.submit-button {
    height: fit-content;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}

.long-button {
    width: fit-content;
    height: fit-content;
    padding: 7px;
    border-radius: 5px;
}

.returning-user-button , .new-user-button {
    width: 160px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
}

.profile-picture {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    object-fit: cover;
    border: 5px solid black;
}

