* {
    padding: 0;
    margin: 0 auto;
}

#main-logo {
    height: 140px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.footer-bar {
    display: flex;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.index-wrapper {
    text-align: center;
}


.register-wrapper {
    text-align: center;
}

.login-wrapper {
    text-align: center;
}

.dashboard-wrapper {
    text-align: center;
}

#user-buttons {
    margin-top: 10px;
}

.pw-requirements {
    font-size: 14px;
}

.error-message {
    color: red;
}

.register-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-label-and-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.form-label-and-field input {
    border-radius: 10px;
    padding: 7px;
}

.submit-button {
    height: fit-content;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}

.long-button {
    width: fit-content;
    height: fit-content;
    padding: 7px;
    border-radius: 5px;
}

.returning-user-button , .new-user-button {
    width: 160px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
}