@media (max-width: 770px) {
    #main-logo {
        height: 100px;
    }

    .one-playlist {
        flex-direction: column;
    }

    .one-technique {
        flex-direction: column;
    }
}

@media (max-width: 403px) {
    #main-logo {
        height: 80px;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-links {
        font-size: 17px;
        gap: 25px;
    }

    .video-player {
        width: 320px;
        height: 180px;
    }

    .one-note {
        width: 250px;
    }

    .all-techniques-div {
        display: block;
    }

    .technique-right , .technique-title {
        width: 100%;
    }

}