* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: underline;
    color: rgba(0, 132, 247, 0.882);
}

#main-logo {
    height: 140px;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 110px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.footer-bar {
    display: flex;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
}

/* edit_playlist.html */

.edit-playlist-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.go-back-div {
    padding: 15px;
}

.error-message {
    color: red;
    padding: 10px;
}

.remove-icon {
    width: 35px;
}

.remove-from-playlist a {
    text-decoration: none;
}

.remove-from-playlist-button {
    border-radius: 5px;
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.form-label-and-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.form-label-and-field input {
    border-radius: 10px;
    padding: 7px;
}

.form-label-and-field select {
    border-radius: 10px;
    padding: 7px;
}

.form-label-and-field textarea {
    border-radius: 10px;
    padding: 10px;
}

.submit-button {
    height: fit-content;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 1px black;
}

#all-techniques {
    padding: 10px;
    margin-top: 10px;
}

.all-techniques-div {
    display: flex;
    flex-wrap: wrap;
}

.one-technique {
    text-align: center;
    padding: 20px;
}

.one-video-player {
    padding: 10px;
}

.technique-title {
    font-size: 20px;
    padding: 10px;
}

/* all_playlists.html */
.all-playlists {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}


.one-playlist {
    padding: 10px;
}

.playlist-name-div {
    padding: 10px;
    font-size: 22px;
}

.delete-icon-div {
    padding: 10px;
}

.delete-confirmation-div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.delete-playlist-button {
    padding: 7px;
    border-radius: 7px;
    width: 80px;
    background-color: rgb(255, 37, 37);
    color: white;
    box-shadow: 0 1px 1px black;
    cursor: pointer;
}


.cancel-button {
    padding: 7px;
    width: 80px;
    border-radius: 7px;
    box-shadow: 0 1px 1px black;
    cursor: pointer;
}

.delete-icon {
    width: 50px;
}

.delete-icon:hover {
    transform: scale(1.1);
}