{% extends 'base_techniques.html' %}
{% load static %}

{% block content %}
    <div class="add-technique-wrapper">
        <h1>Add A New Technique</h1>

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <div id="form-div">
            <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}
                
                <div class="form-label-and-field">
                    {{ tech_form.name.label}}
                    {{ tech_form.name}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.athlete.label}}
                    {{ tech_form.athlete}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.category.label}}
                    {{ tech_form.category}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.privacy_status.label}}
                    {{ tech_form.privacy_status}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.youtube_url.label}}
                    {{ tech_form.youtube_url}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.video_option.label}}
                    {{ tech_form.video_option}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.note.label}}
                    {{ tech_form.note}}
                </div>
                <div class="form-label-and-field">
                    {{ tech_form.keywords.label}}
                    {{ tech_form.keywords}}
                </div>
                <div id="start_time_field" class="form-label-and-field">
                    {{ tech_form.start_time.label}}
                    <div class="instruction-text">
                        <p>* Required if you want to crop video</p>
                        <p>* Use seconds or standard time format</p>
                        <p>* Maximum video length: 1 minute</p>
                    </div>
                    {{ tech_form.start_time}}
                </div>
                <div id="end_time_field" class="form-label-and-field">
                    {{ tech_form.end_time.label}}
                    <div class="instruction-text">
                        <p>* Required if you want to crop video</p>
                        <p>* Use seconds or standard time format</p>
                        <p>* Maximum video length: 1 minute</p>
                    </div>
                    {{ tech_form.end_time}}
                </div>
                <div>
                    <input type="submit" value="Add Technique" class="submit-button" onclick="loadLoader()">
                </div>
            </form>
        </div>

        <div id="loading-div" style="display:none;">
            <img src="{% static 'images/loading-gif3.gif' %}" >
        </div>
    </div>

    <script>

        const startTimeField = document.getElementById('start_time_field');
        const endTimeField = document.getElementById('end_time_field');

        document.getElementById('id_video_option').addEventListener('change', function() {
            var selectedValue = this.value;

            if(selectedValue === 'cropped') {
                startTimeField.style.display = 'block';
                endTimeField.style.display = 'block';

            } else {
                startTimeField.style.display = 'none';
                endTimeField.style.display = 'none';
            }
        });

        function loadLoader() {
            const formDiv = document.getElementById('form-div');
            const loadingDiv = document.getElementById('loading-div');

            formDiv.style.display = 'none';
            loadingDiv.style.display = 'block';
        }

    </script>
{% endblock %}