{% extends 'base_techniques.html' %}

{% block content %}
{% load static %}
    <div class="edit-technique-wrapper">
        <h1>Modify Technique</h1>

        <div>
            <a href="{% url 'private' %}">Go Back</a>
        </div>

        {% if technique.video_option == 'full' %}
            <div class="one-video-player">
                <iframe width="560" height="315" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
        {% if technique.video_option == 'cropped' %}
            <div class="one-video-player">
                Under Constructions
            </div>
        {% endif %}

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'edit' technique.id %}">
            {% csrf_token %}
            <div class="form-label-and-field">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="form-label-and-field">
                {{ form.category.label }}
                {{ form.category }}
            </div>
            <div class="form-label-and-field">
                {{ form.privacy_status.label }}
                {{ form.privacy_status }}
            </div>
            <div class="form-label-and-field">
                {{ form.youtube_url.label }}
                {{ form.youtube_url }}
            </div>
            <div class="form-label-and-field">
                {{ form.note.label }}
                {{ form.note }}
            </div>
            <div class="form-label-and-field">
                {{ form.keywords.label }}
                {{ form.keywords }}
            </div>
            <div>
                <input type="submit" value="Save Changes" class="submit-button">
            </div>
        </form>

        <div class="delete-button-div">
            <div id="{{ technique.id }}-delete-button-div">
                <img id="{{ technique.id }}-delete-button" src="{% static 'images/remove-icon2.png' %}" alt="Delete"
                    class="delete-icon" onclick="toggleDeleteMenu('{{technique.id}}')">
            </div>
            <div id="{{ technique.id }}-sure-div" style="display:none;">
                <a href="{% url 'remove' technique.id %}"><button class="delete-button">Delete?</button></a>
                <button class="delete-button2" onclick="toggleDeleteMenu('{{technique.id}}')">No</button>
            </div>
        </div>

    </div>

    <script>
        function toggleDeleteMenu(techniqueId) {
            const deleteButtonDiv = document.getElementById(techniqueId + '-delete-button-div');
            const sureDiv = document.getElementById(techniqueId + '-sure-div');

            if (sureDiv.style.display === 'none'){
                sureDiv.style.display = 'block';
                deleteButtonDiv.style.display = 'none';
            } else {
                sureDiv.style.display = 'none';
                deleteButtonDiv.style.display = 'block';
            }
        }
    </script>

{% endblock %}