{% extends 'base_techniques.html' %}

{% block content %}
    <div class="private-archive-wrapper">
        <h1>Your Private Archive</h1>

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        {% for technique in private_techniques %}
            <a href="">{{ technique.name|title }}</a>
            {% if technique.video_option == 'full' %}
                <div>
                    <iframe width="560" height="315" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
            {% if technique.video_option == 'cropped' %}
                <div>
                    Under Constructions
                </div>
            {% endif %}

            <div id="{{ technique.id }}-note" style="display: none;">
                {% if technique.note == None %}
                    <p>No note yet.</p>
                {% endif %}
                {% if technique.note != None %}
                    <p>{{ technique.note }}</p>
                {% endif %}
                <div>
                    <button class="standard-button">Edit Note</button>
                </div>
            </div>
            

            <div class="note-and-delete-buttons">
                <div>
                    <button id="{{ technique.id }}-button" class="see-note-button" onclick="toggleNote('{{technique.id}}')">See Note</button>
                </div>
                <div>
                    <a href="{% url 'remove' technique.id %}"><button class="delete-button">Remove</button></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleNote(techniqueId) {
            const noteDiv = document.getElementById(techniqueId + '-note');
            const noteButton = document.getElementById(techniqueId + '-button');

            if (noteDiv.style.display === 'none') {
                noteDiv.style.display ='block';
                noteButton.innerText = 'Hide Note';
            } else {
                noteDiv.style.display = 'none';
                noteButton.innerText = 'See Note';
            }
        }
    </script>
{% endblock %}