{% extends 'base_techniques.html' %}

{% block content %}
{% load static %}
    <div class="private-archive-wrapper">
        <h1>Private Archive</h1>

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <div id="filter-error-message">

        </div>

        <div id="filter-box">
            <h4>Filter By:</h4>
            <form id="filter-form" method="GET" data-url="{% url 'filter' %}">
                <label>Category:</label>
                <select name="category" id="category-select" required>
                    <option value="" selected disabled>----</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category|title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" onclick="submitFilterForm(event)">
            </form>

            <form>
                <label>Search:</label>
                <input>
                <input type="submit" value="Search">
            </form>
        </div>

        <div id="show-all-button-div">
            <button id="show-all-button" onclick="toggleAllTechniques()">Show All Techniques</button>
        </div>

        <div id="results-container">

        </div>

        <div id="all-techniques" style="display:none;">
            <h2>All Techniques</h2>
            {% for technique in private_techniques %}
                <div class="one-technique">
                    <div class="technique-title">
                        <a href="{% url 'edit' technique.id %}">{{ technique.name|title }}</a>
                    </div>
                    {% if technique.video_option == 'full' %}
                        <div class="one-video-player">
                            <iframe width="560" height="315" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% if technique.video_option == 'cropped' %}
                        <div class="one-video-player">
                            Under Constructions
                        </div>
                    {% endif %}

                    <div class="one-note-div" id="{{ technique.id }}-note-div" style="display: none;">
                        <div id="{{ technique.id }}-note" class="one-note">
                            {% if technique.note == None %}
                                <p>No note yet.</p>
                            {% endif %}
                            {% if technique.note != None %}
                                <p>{{ technique.note }}</p>
                            {% endif %}
                        </div>
                        <div id="{{ technique.id }}-note-edit-form" style="display: none;">
                            <form method="POST" action="{% url 'note' technique.id %}">
                                {% csrf_token %}
                                <textarea class="note-textarea" rows="6" cols="40" name="note">{{ technique.note }}</textarea>
                                <div>
                                    <input type="image" src="{% static 'images/save-icon.png' %}" alt="Save" class="edit-icon">
                                </div>
                            </form>
                        </div>
                        <div class="edit-note-div">
                            <img src="{% static 'images/edit-icon.png' %}" alt="Edit" class="edit-icon" id="{{ technique.id }}-edit-note-button" onclick="toggleNoteEdit('{{technique.id}}')">
                        </div>
                    </div>
                    

                    <div class="note-and-delete-buttons">
                        <div>
                            <button id="{{ technique.id }}-note-button" class="see-note-button" onclick="toggleNote('{{technique.id}}')">Note</button>
                        </div>
                        <div>
                            <div id="{{ technique.id }}-delete-button-div">
                                <img id="{{ technique.id }}-delete-button" src="{% static 'images/remove-icon2.png' %}" alt="Delete" class="delete-icon" onclick="toggleDeleteMenu('{{technique.id}}')">
                            </div>
                            <div id="{{ technique.id }}-sure-div" style="display:none;">
                                <a href="{% url 'remove' technique.id %}"><button class="delete-button">Delete?</button></a>
                                <button class="delete-button2" onclick="toggleDeleteMenu('{{technique.id}}')">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function submitFilterForm(e) {
            e.preventDefault();
            const selectedCategory = document.getElementById('category-select').value;
            const resultsContainer = document.getElementById('results-container');
            const allTechniquesContainer = document.getElementById('all-techniques');
            const showAllButton = document.getElementById('show-all-button');
            const errorMessage = document.getElementById('filter-error-message');

            if (selectedCategory !== "") {
                var form = document.getElementById('filter-form');
                var url = form.getAttribute('data-url') + '?category=' + encodeURIComponent(selectedCategory);
                
                var xhr = new XMLHttpRequest();
                xhr.open(form.getAttribute('method'), url, true);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                        resultsContainer.style.display = 'block';
                        allTechniquesContainer.style.display = 'none';
                        showAllButton.innerText = 'Show All Techniques';
                        resultsContainer.innerHTML = xhr.responseText;
                    }
                }
                xhr.send();
            } else {
                errorMessage.innerHTML = 'Please make a selection';
            }
        }

        function toggleAllTechniques() {
            const showAllButton = document.getElementById('show-all-button');
            const allTechniques = document.getElementById('all-techniques');
            const resultsContainer = document.getElementById('results-container');
            const categorySelect = document.getElementById('category-select');

            if (allTechniques.style.display === 'none') {
                allTechniques.style.display = 'block';
                showAllButton.innerText = 'Hide All Techniques';
                resultsContainer.style.display = 'none';
                categorySelect.value = '';
            } else {
                allTechniques.style.display = 'none';
                showAllButton.innerText = 'Show All Techniques';
            }
        }

        function toggleNote(techniqueId) {
            const noteDiv = document.getElementById(techniqueId + '-note-div');
            const noteButton = document.getElementById(techniqueId + '-note-button');

            if (noteDiv.style.display === 'none') {
                noteDiv.style.display ='block';
                noteButton.innerText = 'Hide Note';
            } else {
                noteDiv.style.display = 'none';
                noteButton.innerText = 'Note';
            }
        }

        function toggleNoteEdit(techniqueId) {
            const note = document.getElementById(techniqueId + '-note')
            const noteForm = document.getElementById(techniqueId + '-note-edit-form')
            const editNoteButton = document.getElementById(techniqueId + '-edit-note-button')

            if (note.style.display !== 'none') {
                note.style.display = 'none';
                noteForm.style.display = 'block';
                editNoteButton.src = "{% static 'images/back-icon.png' %}"
            } else {
                note.style.display = 'block';
                noteForm.style.display = 'none';
                editNoteButton.src = "{% static 'images/edit-icon.png' %}"
            }
        }

        
        function toggleDeleteMenu(techniqueId) {
            const deleteButtonDiv = document.getElementById(techniqueId + '-delete-button-div');
            const sureDiv = document.getElementById(techniqueId + '-sure-div');

            if (sureDiv.style.display === 'none'){
                sureDiv.style.display = 'block';
                deleteButtonDiv.style.display = 'none';
            } else {
                sureDiv.style.display = 'none';
                deleteButtonDiv.style.display = 'block';
            }
        }
    </script>
{% endblock %}