* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


#main-logo {
    height: 140px;
}


.nav-bar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 110px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.footer-bar {
    display: flex;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.add-technique-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 10vh;
}

.private-archive-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.public-archive-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.edit-technique-wrapper {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 10vh;
}

.error-message {
    color: red;
    padding: 10px;
}

#filter-box {
    padding: 10px;
}

#show-all-button-div {
    padding: 10px;
}

#show-all-button {
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 3px black;
}

.form-label-and-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.form-label-and-field input {
    border-radius: 10px;
    padding: 7px;
}

.form-label-and-field select {
    border-radius: 10px;
    padding: 7px;
}

.form-label-and-field textarea {
    border-radius: 10px;
    padding: 10px;
}

.submit-button {
    height: fit-content;
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 2px black;
}

.edit-icon {
    width: 25px;
}

.delete-icon {
    width: 42px;
}

.instruction-text {
    font-size: 13px;
}

.one-technique {
    padding: 20px;
}

.technique-title {
    font-size: 20px;
    padding: 10px;
}

.one-video-player {
    padding: 10px;
}

.one-note-div {
    padding: 10px;
}

.one-note {
    border: 1px solid black;
    padding: 10px;
    max-width: 340px;
    height: 100px;
    border-radius: 5px;
    font-size: 15px;
    text-wrap: wrap;
    overflow-y: auto;
}

.note-textarea {
    padding: 10px;
    border-radius: 5px;
}

.edit-note-div {
    margin-top: 10px;
}

.save-button {
    height: fit-content;
    width: 100px;
    padding: 7px;
    border-radius: 5px;
}

.note-and-delete-buttons {
    display: flex;
    width: fit-content;
    padding: 10px;
    gap: 10px;
}


.delete-button {
    padding: 7px;
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 70px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 2px 5px black;
}

.delete-button2 {
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 65px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 2px 5px black;
}

.see-note-button {
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(255, 196, 0);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 2px 5px black;
}
