{% extends 'base_playlists.html' %}
{% load static %}

{% block content %}
<div class="edit-playlist-wrapper">
    <h1>All Playlists</h1>
    
    <div class="go-back-div">
        <a href="{% url 'private' %}">Go Back</a>
    </div>

    {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="all-playlists">
        {% for playlist in playlists %}
            <div class="one-playlist">
                <div class="playlist-name-div">
                    <a href="{% url 'edit_playlist' playlist.id %}">{{ playlist.name|title }}</a>
                </div>
                <div class="delete-icon-div">
                    <img id="" src="{% static 'images/remove-icon3.png' %}" alt="Delete" class="delete-icon" onclick="toggleDeleteConfirmationDiv('{{playlist.id}}')">
                </div>
                <div id="{{playlist.id}}-confirmation-div" class="delete-confirmation-div" style="display: none;">
                    <p>Delete entire playlist?</p>
                    <div>
                        <a href="{% url 'delete_playlist' playlist.id %}"><button class="delete-playlist-button">Delete</button></a>
                        <button class="cancel-button" onclick="toggleDeleteConfirmationDiv('{{playlist.id}}')">Cancel</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggleDeleteConfirmationDiv(playlistId) {
        const confirmationDiv = document.getElementById(playlistId + '-confirmation-div');

        if(confirmationDiv.style.display === 'none') {
            confirmationDiv.style.display = 'flex';
        } else {
            confirmationDiv.style.display = 'none';
        }
    }

</script>

{% endblock %}