{% extends 'base_playlists.html' %}
{% load static %}

{% block content %}
<div class="edit-playlist-wrapper">
    <h1>All Playlists</h1>
    
    <div class="go-back-div">
        <a href="{% url 'private' %}"><img src="{% static 'images/go-back.png' %}" class="small-icon"></a>
    </div>

    {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <a style="cursor: pointer;" href="{% url 'new_playlist' %}">Create New Playlist</a>
    </div>


    <div class="all-playlists">
        {% for playlist, technique in playlist_and_technique.items %}
            <div class="one-playlist">
                <div class="playlist-left">
                    <div class="one-video-player">
                        {% comment %} {% if technique.video_option == 'full' %} {% endcomment %}
                        <iframe width="400" height="280" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                        {% comment %} {% endif %}
                        {% if technique.video_option == 'cropped' %}
                            <video width="400" height="280" controls>
                            <source src="../../{{ technique.cropped_video }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %} {% endcomment %}
                    </div>
                </div>
                <div class="playlist-right">
                    <div class="playlist-name-div">
                        <p>{{ playlist.name|title }}</p>
                    </div>
                    
                    <div style="margin-top: -3px;">
                        <p style="font-style: italic;">({{ playlist.total_items }}) item(s)</p>
                    </div>

                    <div class="the-rest-div">
                        <a class="the-rest-flex" href="{% url 'show_playlist' playlist.id %}">
                            <p>See more from this playlist</p>
                            <img src="{% static 'images/arrow-icon2.png' %}" class="arrow-icon">
                        </a>
                    </div>
                    <div class="description-div">
                        {% if playlist.description %}
                            {{ playlist.description }}
                        {% else %}
                            <p>No description yet...</p>
                        {% endif %}
                    </div>
                    <div id="{{ playlist.id }}-delete-div" class="delete-icon-div">
                        <img id="" src="{% static 'images/remove-icon3.png' %}" alt="Delete" class="delete-icon"
                            onclick="toggleDeleteConfirmationDiv('{{playlist.id}}')">
                    </div>
                    <div id="{{playlist.id}}-confirmation-div" class="delete-confirmation-div" style="display: none;">
                        <p>Delete entire playlist?</p>
                        <div>
                            <a href="{% url 'delete_playlist' playlist.id %}"><button class="delete-playlist-button">Delete</button></a>
                            <button class="cancel-button" onclick="toggleDeleteConfirmationDiv('{{playlist.id}}')">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>

    function toggleDeleteConfirmationDiv(playlistId) {
        const deleteDiv = document.getElementById(playlistId + '-delete-div');
        const confirmationDiv = document.getElementById(playlistId + '-confirmation-div');

        if(confirmationDiv.style.display === 'none') {
            deleteDiv.style.display = 'none';
            confirmationDiv.style.display = 'flex';
        } else {
            deleteDiv.style.display = 'block';
            confirmationDiv.style.display = 'none';
        }
    }

</script>

{% endblock %}