{% extends 'base_playlists.html' %}
{% load static %}

{% block content %}
    <div class="edit-playlist-wrapper">
        <h2>Edit Playlist</h2>

        <h1 style="text-decoration: underline;">"{{ playlist.name|title }}"</h1>

        <div class="go-back-div">
            <a href="{% url 'show_playlist' playlist.id %}"><img src="{% static 'images/go-back.png' %}" class="small-icon"></a>
        </div>

        {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-label-and-field">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="form-label-and-field">
                {{ form.description.label }}
                {{ form.description }}
            </div>
            <div>
                <input type="submit" value="Save Changes" class="submit-button">
            </div>
        </form>

        <div style="padding: 5px;">
            <a href="{% url 'delete_playlist' playlist.id %}"><button class="delete-playlist">Delete Playlist</button></a>
        </div>

        <div class="other-playlist-selection-div">
            <h4>Edit another playlist:</h4>
            <div id="playlist-box">
                <form id="playlist-form" method="GET">
                    {% csrf_token %}
                    <select name="playlist" id="playlist-select" required>
                        <option value="" selected disabled>----</option>

                        {% for list in playlists %}
                            <option value="{{ list.id }}"
                                {% if list.name == playlist.name %}
                                    style="font-weight: bold;"> {{ list.name|title }}
                                {% else %}
                                    > {{ list.name|title }}
                                {% endif %}
                            </option>
                        {% endfor %}

                    </select>
                    <input type="submit" value="Go" class="regular-button">
                </form>
            </div>
        </div>


        <div class="all-techniques-div">
            {% for technique in playlist_techniques %}
            <div class="one-technique">
                <div class="technique-left">
                    <div class="one-video-player">
                        {% comment %} {% if technique.video_option == 'full' %} {% endcomment %}
                        <iframe class="video-player" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                        {% comment %} {% endif %}
                        {% if technique.video_option == 'cropped' %}
                            <video width="400" height="280" controls>
                                <source src="../../{{ technique.cropped_video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %} {% endcomment %}
                    </div>
                </div>

                <div class="technique-right">
                    <div class="technique-title">
                        <a href="{% url 'edit' technique.id %}">{{ technique.name|title }}</a>
                    </div>

                    <div id="{{ technique.id }}-misc-info" style="font-size: 14px; padding: 5px; margin-top: -7px; color:grey;">
                        {% if technique.athlete %}
                            <p>by: <u>{{ technique.athlete|title }}</u></p>
                        {% endif %}
                        <p>category: <u>{{ technique.category|title }}</u></p>
                    </div>

                    <div class="one-note-div" id="{{ technique.id }}-note-div">
                        <div id="{{ technique.id }}-note" class="one-note" onclick="toggleNoteEdit('{{technique.id}}')">
                            <p>{% if technique.note %}
                                    {{ technique.note }}
                                {% else %}
                                    No note yet.
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div id="{{ technique.id }}-note-edit-form" style="display: none;">
                        <div id="{{ technique.id }}-note-messages" class="playlist-error-message">
                        </div>
                        <form id="{{ technique.id }}-note-form" method="POST" data-url="{% url 'note' technique.id %}">
                            {% csrf_token %}
                            <textarea id="{{ technique.id }}-note-text-area" class="note-textarea" rows="6" cols="40" name="note">{{ technique.note }}</textarea>
                            <div style="display: flex; width: 70px;">
                                <input type="image" src="{% static 'images/save-icon.png' %}" alt="Save" class="edit-icon" onclick="submitNoteChange('{{ technique.id }}', event)">
                                <div style="margin-top: 7px;">
                                    <img style="cursor:pointer;" src="{% static 'images/cancel-icon.jpg' %}" alt="Cancel" class="edit-icon" onclick="toggleNoteEdit('{{technique.id}}')">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="{{ technique.id }}-note-edit-form" style="display: none;">
                        <form method="POST" action="{% url 'note' technique.id %}">
                            {% csrf_token %}
                            <textarea id="{{ technique.id }}-note-text-area" class="note-textarea" rows="6" cols="40" name="note">{{ technique.note }}</textarea>
                            <div>
                                <input type="image" src="{% static 'images/save-icon.png' %}" alt="Save" class="edit-icon">
                            </div>
                        </form>
                    </div>


                    <div id="{{technique.id}}-remove-div" class="remove-from-playlist"  style="display:block;">
                        <img src="{% static 'images/x-icon.png' %}" class="delete-icon" onclick="toggleDeleteFromPlaylistConfirmationDiv('{{technique.id}}')">
                    </div>

                    <div id="{{technique.id}}-remove-conf-div" class="delete-confirmation-div" style="display: none;" >
                        <p>Remove from playlist {{ playlist.name|title }}?</p>
                        <div style="margin-top: 8px;">
                            <a href="{% url 'extract' technique.id playlist.name %}"><button class="delete-playlist-button">Remove</button></a>
                            <button class="cancel-button" onclick="toggleDeleteFromPlaylistConfirmationDiv('{{technique.id}}')">Cancel</button>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const playlistSelect = document.getElementById('playlist-select');
            const playlistForm = document.getElementById('playlist-form');

            playlistSelect.addEventListener('change', function () {
                const selectedPlaylistId = playlistSelect.value;
                const formAction = '{% url 'edit_playlist' 0 %}'.replace('0', selectedPlaylistId);
                playlistForm.action = formAction;
            });
        })

        function toggleNoteEdit(techniqueId) {
            const note = document.getElementById(techniqueId + '-note-div')
            const noteForm = document.getElementById(techniqueId + '-note-edit-form')
            const noteButton = document.getElementById(techniqueId + '-note-button');
            const noteTextarea = document.getElementById(techniqueId + '-note-text-area');
            const miscDiv = document.getElementById(techniqueId + '-misc-info');

            if (note.style.display !== 'none') {
                note.style.display = 'none';
                miscDiv.style.display = 'none';
                noteForm.style.display = 'block';
                noteButton.innerText = 'Hide Note';
            } else {
                note.style.display = 'block';
                miscDiv.style.display = 'block';
                noteForm.style.display = 'none';
            }
        }

        function submitNoteChange(techniqueId, e) {
            e.preventDefault();
            
            const noteForm = document.getElementById(techniqueId + '-note-form'); 
            const token = noteForm.elements['csrfmiddlewaretoken'].value;
            const url = noteForm.getAttribute('data-url');
            const noteValue = noteForm.elements['note'].value;
            var messageDiv = document.getElementById(techniqueId + '-note-messages');

            const xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', token);

            const formData = new URLSearchParams();
            formData.append('note', noteValue);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    messageDiv.innerHTML = 'Note saved successfully!';
                    console.log(xhr.status);
                }
            }
            xhr.send(formData.toString());
        }

        function toggleDeleteFromPlaylistConfirmationDiv(techniqueId) {
            const removeDiv = document.getElementById(techniqueId + '-remove-div');
            const removeConfDiv = document.getElementById(techniqueId + '-remove-conf-div');

            if (removeDiv.style.display === 'block') {
                removeDiv.style.display = 'none';
                removeConfDiv.style.display = 'block';
            } else {
                removeDiv.style.display = 'block';
                removeConfDiv.style.display = 'none';
            }
        }
    </script>
{% endblock %}