{% extends 'base_playlists.html' %}
{% load static %}

{% block content %}
    <div class="edit-playlist-wrapper">
        <h1>Edit Playlist</h1>

        <div class="go-back-div">
            <a href="{% url 'private' %}"><img src="{% static 'images/go-back.png' %}" class="small-icon"></a>
        </div>

        {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-label-and-field">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="form-label-and-field">
                {{ form.description.label }}
                {{ form.description }}
            </div>
            <div>
                <input type="submit" value="Save Changes" class="submit-button">
            </div>
        </form>

        <div class="other-playlist-selection-div">
            <h4>Choose another playlist:</h4>
            <div id="playlist-box">
                <form id="playlist-form" method="GET" data-url="{% url 'edit_playlist' playlist.id %}">
                    {% csrf_token %}
                    <select name="playlist" id="playlist-select" required>
                        <option value="" selected disabled>----</option>

                        {% for list in playlists %}
                            <option value="{{ list }}"
                                {% if list.name == playlist.name %}
                                    style="font-weight: bold;"> {{ list.name|title }}
                                {% else %}
                                    > {{ list.name|title }}
                                {% endif %}
                            </option>
                        {% endfor %}

                    </select>
                    <input type="submit" value="Go" class="regular-button">
                </form>
            </div>
        </div>

        <h1 style="text-decoration: underline;">{{ playlist.name }}</h1>

        <div class="all-techniques-div">
            {% for technique in playlist_techniques %}
            <div class="one-technique">
                <div class="technique-left">
                    <div class="one-video-player">
                        {% if technique.video_option == 'full' %}
                            <iframe width="400" height="280" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                        {% endif %}
                        {% if technique.video_option == 'cropped' %}
                            <video width="400" height="280" controls>
                                <source src="../../{{ technique.cropped_video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    </div>
                </div>

                <div class="technique-right">
                    <div class="technique-title">
                        <a href="{% url 'edit' technique.id %}">{{ technique.name|title }}</a>
                    </div>
                    <div class="one-note">
                        {% if technique.note == None %}
                            <p>No note yet...</p>
                        {% else %}
                            <p>{{ technique.note }}</p>
                        {% endif %}
                    </div>
                    <div id="{{technique.id}}-remove-div" class="remove-from-playlist"  style="display:block;">
                        <img src="{% static 'images/x-icon.png' %}" class="delete-icon" onclick="toggleDeleteFromPlaylistConfirmationDiv('{{technique.id}}')">
                    </div>

                    <div id="{{technique.id}}-remove-conf-div" class="delete-confirmation-div" style="display: none;" >
                        <p>Remove from playlist {{ playlist.name|title }}?</p>
                        <div style="margin-top: 8px;">
                            <a href="{% url 'extract' technique.id playlist.name %}"><button class="delete-playlist-button">Remove</button></a>
                            <button class="cancel-button" onclick="toggleDeleteFromPlaylistConfirmationDiv('{{technique.id}}')">Cancel</button>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function selectAnotherPlaylist() {
            
        }

        function toggleDeleteFromPlaylistConfirmationDiv(techniqueId) {
            const removeDiv = document.getElementById(techniqueId + '-remove-div');
            const removeConfDiv = document.getElementById(techniqueId + '-remove-conf-div');

            if (removeDiv.style.display === 'block') {
                removeDiv.style.display = 'none';
                removeConfDiv.style.display = 'block';
            } else {
                removeDiv.style.display = 'block';
                removeConfDiv.style.display = 'none';
            }
        }
    </script>
{% endblock %}