{% extends 'base_playlists.html' %}
{% load static %}

{% block content %}
<div class="new-playlist-wrapper">
    <h1>Create New Playlist</h1>
    
    <div class="go-back-div">
        <a href="{% url 'all_playlists' %}"><img src="{% static 'images/go-back.png' %}" class="small-icon"></a>
    </div>

    {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div id="new-playlist-form" class="new-playlist-name-div">
        <form id="new-playlist-form" class="playlist-name-form" method="POST" data-url="{% url 'new_playlist' %}">
            {% csrf_token %}
            <p>Playlist Name:</p>
            <div>
                <input name="name" id="name">

                <div style="padding: 10px; margin-top: 4vh;">
                    <h4>Add techniques to playlist:</h4>
                </div>

                <div class="all-techniques-form">
                {% for technique in all_techniques %}
                    <div class="one-technique-form">
                        <div class="technique-title">
                        <label>
                            <input type="checkbox" name="techniques[]" value="{{ technique.id }}">
                            {{ technique.name }}
                        </label>
                        </div>

                        <div>
                            <a style="cursor:pointer;" onclick="toggleVideoDiv('{{ technique.id }}')">See video</a>
                        </div>

                        <div id="{{ technique.id }}-video-div" class="one-video-player" style="display:none;">
                            {% if technique.video_option == 'full' %}
                                <iframe width="420" height="240" src="{{ technique.embed_url }}" frameborder="0" allowfullscreen></iframe>
                            {% endif %}
                            {% if technique.video_option == 'cropped' %}
                                <video width="420" height="240" controls>
                                    <source src="../../{{ technique.cropped_video }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
                </div>

                <div id="error-messages">
                </div>
                
                <button class="regular-button" onclick="submitNewPlaylist(event)">Submit</button>
            </div>
        </form>
    </div>

    <div>
    </div>

    
</div>

<script>
    function toggleVideoDiv(techniqueId) {
        const videoDiv = document.getElementById(techniqueId + '-video-div');

        if (videoDiv.style.display === 'none') {
            videoDiv.style.display = 'block';
        } else {
            videoDiv.style.display = 'none';
        }
    }

    function submitNewPlaylist(e) {
        e.preventDefault();
        const playlistForm = document.getElementById('new-playlist-form');
        const playlistName = document.getElementById('name').value;
        const messageDiv = document.getElementById('error-messages');
        const checkboxes = playlistForm.querySelectorAll('input[type="checkbox"]');
        const token = playlistForm.elements['csrfmiddlewaretoken'].value;
        const url = playlistForm.getAttribute('data-url');
        const techniqueIds = [];
        
        if (playlistName === '') {
            messageDiv.innerHTML = 'Please input a name for your playlist';
        } else {
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    techniqueIds.push(checkbox.value);
                }
            });

            if (techniqueIds.length === 0) {
                messageDiv.innerHTML = 'Please select at least one technique';
            } else {
                console.log(techniqueIds);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', token);

                const formData = {
                    name: playlistName,
                    techniques: techniqueIds,
                };

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        messageDiv.innerHTML = 'Successfully created new playlist ' + playlistName ;
                        console.log(xhr.status);
                    }
                }
                xhr.send(JSON.stringify(formData));
            };
        }


    }
</script>

{% endblock %}