{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mediaqueries.css' %}">
    <title>{% block title %}Welcome to Grappling Dungeon{% endblock %}</title>
</head>

<body>
    <div class="nav-bar">
        <header>
            <h1>Grappling Dungeon</h1>
        </header>
        <nav class="nav-links">
            <a href="dashboard">Home</a>
            <a href="logout">Logout</a>
        </nav>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>

    <footer class="footer-bar">
        &copy; 2024 Danny Nguyen Duong
    </footer>
</body>

</html>