{% extends 'base_accounts.html' %}

{% block content %}
    <div class="dashboard-wrapper">
        <h1>Dashboard</h1>
        <div>
            <a href="{% url 'add' %}"><button class="long-button">Add New Technique +</button></a>
            <a href="{% url 'private' %}"><button class="long-button">Private Archive</button></a>
        </div>
        <div>
            <a href="{% url 'public' %}"><button class="long-button">Public Archive</button></a>
        </div>

        <div>
            <h2>All Grapplers</h2>
            <div>
                {% for user in all_users %}
                    <div>
                        <a href="{% url 'user' user.id %}">{{ user.username|title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}