{% extends 'base_accounts.html' %}
{% load static %}

{% block content %}
    <div class="dashboard-wrapper">
        <h1>Dashboard</h1>
        <div class="dashboard-buttons-div">
            <div>
                <a href="{% url 'add' %}"><button class="dash-button">Add Technique</button></a>
            </div>
            <div>
                <a href="{% url 'private' %}"><button class="dash-button">Private Archive ({{ total_private }})</button></a>
            </div>
            {% comment %} <div>
                <a href="{% url 'public' %}"><button class="dash-button">Public Archive</button></a>
            </div> {% endcomment %}
        </div>

        <div class="dashboard-body-div">
            <h2>All Grapplers ({{total_users}})</h2>
            <div class="all-users">
                {% for user in all_users %}
                    <div class="one-user">

                        <a class="one-user-name" href="{% url 'user' user.id %}">{{ user.username }}</a>

                        <a href="{% url 'user' user.id %}">
                            <img class="profile-picture-sm" src=
                            {% if user.profile_picture %} 
                                "{{ user.profile_picture.url }}" alt="{{user.username}}'s Profile Picture"> 
                            {% else %} 
                                "{% static 'images/no-profile.png' %}" alt="No profile picture">
                                <p>No Profile Picture Yet...</p> 
                            {% endif %}
                        </a>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}