{% extends 'base_accounts.html' %}
{% load static %}

{% block content %}
    <div class="edit-profile-wrapper">
        <h1>Edit Profile</h1>

        <div class="go-back-div">
            <a href="{% url 'dashboard' %}"><img src="{% static 'images/go-back.png' %}" class="small-icon"></a>
        </div>

        
        <div class="edit-profile-columns">
            <div class="user-profile-div">
                <div>
                    <h2>{{ user.username }}</h2>
                </div>
                
                <div>
                    <img class="profile-picture" src=
                    {% if user.profile_picture %} 
                        "{{ user.profile_picture.url }}" alt="{{user.username}}'s Profile Picture"> 
                    {% else %} 
                        "{% static 'images/no-profile.png' %}" alt="No profile picture"> 
                        <p>No Profile Picture Yet...</p> 
                    {% endif %}
                </div>

                <div>
                    <a href="{% url 'password' %}">Change Password</a>
                </div>
            </div>
    
            <div class="edit-profile-right">
                <div class="error-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-label-and-field">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div class="form-label-and-field">
                        {{ form.first_name.label }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-label-and-field">
                        {{ form.last_name.label }}
                        {{ form.last_name }}
                    </div>
                    <div class="form-label-and-field">
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                    <div class="form-label-and-field">
                        {{ form.profile_picture.label }}
                        {{ form.profile_picture }}
                    </div>
        
                    <input type="submit" value="Save Changes" class="submit-button">
                </form>
            </div>
        </div>

    </div>
{% endblock %}