{% extends 'base_accounts.html' %}

{% block content %}
    <div class="login-wrapper">
        <h2>Returning User</h2>

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        
        <div class="login-form">
            <form method="POST" action="login">
                {% csrf_token %}

                <div class="form-label-and-field">
                    <div>{{ login_form.username.label }}</div>
                    <div>{{ login_form.username }}</div>
                </div>
                <div class="form-label-and-field">
                    <div>{{ login_form.password.label }}</div>
                    <div>{{ login_form.password }}</div>
                </div>

                <input type="submit" name="login" value="Login" class="submit-button"></input>
            </form>
        </div>

        <a href="register"><button class="long-button">I don't have an account</button></a>
    </div>
{% endblock %}