{% extends 'base_accounts.html' %}

{% block content %}
    <div class="edit-password-wrapper">
        <h1>Change Password</h1>
        <a href="{% url 'edit' %}">Go back</a>
        <div class="pw-requirements">
            <p>Your password:</p>
            <p><li>Can’t be too similar to your other personal information.</li></p>
            <p><li>Must contain at least 8 characters.</li></p>
            <p><li>Can’t be a commonly used password.</li></p>
            <p><li>Can’t be entirely numeric.</li></p>
        </div>
        <div class="form-label-and-field">
            {{ form.old_password.label }}
            {{ form.old_password }}
        </div>
        <div class="form-label-and-field">
            {{ form.new_password1.label }}
            {{ form.new_password1 }}
        </div>
        <div class="form-label-and-field">
            {{ form.new_password2.label }}
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Save Password" class="submit-button">
    </div>
{% endblock %}