{% extends 'base.html' %}

{% block content %}
    <div class="register-wrapper">
        <h2>New User</h2>

        <div class="error-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        
        <div class="register-form">
            <form method="POST" action="register">
                {% csrf_token %}
                
                <div class="form-label-and-field">
                    <div>{{ register_form.username.label }}</div>
                    <div>{{ register_form.username }}</div>
                </div>
                <div class="form-label-and-field">
                    <div>{{ register_form.email.label }}</div>
                    <div>{{ register_form.email }}</div>
                </div>
                <div class="form-label-and-field">
                    <div>{{ register_form.first_name.label }}</div>
                    <div>{{ register_form.first_name }}</div>
                </div>
                <div class="form-label-and-field">
                    <div>{{ register_form.last_name.label }}</div>
                    <div>{{ register_form.last_name }}</div>
                </div>
                <div class="form-label-and-field">
                    <div class="pw-requirements">
                        <p>Your password:</p>
                        <p>can’t be too similar to your other personal information.</p>
                        <p>must contain at least 8 characters.</p>
                        <p>can’t be a commonly used password.</p>
                        <p>can’t be entirely numeric.</p>
                    </div>
                    <div>{{ register_form.password1.label }}</div>
                    <div>{{ register_form.password1 }}</div>
                </div>
                <div class="form-label-and-field">
                    <div>{{ register_form.password2.label }}</div>
                    <div>{{ register_form.password2 }}</div>
                </div>
    
                <input type="submit" name="register" value="Register" class="submit-button"></input>
            </form>
        </div>

        <a href="login"><button class="long-button">I have an account</button></a>
    </div>
{% endblock %}