{% extends 'base_accounts.html' %}
{% load static %}

{% block content %}
    <div class="user-profile-wrapper">
        <h1>Grappler Profile</h1>

        <div class="user-profile-div">
            <div class="profile-pic-div">
                {% if user.profile_picture %}
                    <img class="profile-picture" src="{{ user.profile_picture.url }}" alt="{{user.username}}'s Profile Picture">
                {% else %}
                    <img class="profile-picture" src="{% static 'images/no-profile.png' %}" alt="No profile picture">
                {% endif %}
            </div>
            <div class="profile-name-div">
                <div>
                    <h3>{{ user.username }}</h3>
                </div>
                <div>
                    <p>{{ user.first_name|title }} {{ user.last_name|title }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}